<div class="text container">
    <div class="row text-center">
        <div class="col-6 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <h3>Trabajemos juntxs</h3>
            <p>Una web propia nos permite alejarnos de lo que hace todo el mundo, destacando gracias a una mayor personalización. Contame tu idea y me voy a poner en contacto lo más pronto posible.</p>      
                <br>
                <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label">Email</label>
                  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nombre@ejemplo.com">
                </div>
                <div class="mb-3">
                  <label for="exampleFormControlTextarea1" class="form-label">Mensaje</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <br>
                <button type="button" class="btn btn-success">Enviar</button>
           </div>
      </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>