<div class="row container header">
    <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 container" >
         <h1 ID="nombre"><b>Victoria Godoy</b> <br>
         <i>Mi portfolio</i></h1>
    </div>
    <div class="col-12 col-md-4 col-lg-4 col-xl-4 container">
        
    </div>

    <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 container">
      <ul class="RRSS">  
       <li class="RRSS-item"> <a href="">
         <img class="pinterest-icon"   src="../Portfolio/Iconos/social.png" alt="" style="filter: invert(45%) sepia(17%) saturate(233%) hue-rotate(167deg) brightness(97%) contrast(90%);">
        <i><i class="fa-brands fa-linkedin" style="font-size: 40px;"></i></i>
        </a>
        </li>
 
      </ul>
    </div>
 </div>
 <br>
 <br>


 <div class="main"> 
  <img class="banner" src="https://img.freepik.com/free-photo/student-social-internet-home-profession_1286-304.jpg?w=1480&t=st=1664482944~exp=1664483544~hmac=6fefe389b845cd707679f854a0a6acd22261cef2bd1ca8b203641b9cde0a5d35">
    <div class="desarrollo-web">
        <div class="line">
             <h1>Desarrollo Web</h1>
             <p>Potenciá tu marca o proyecto con una página web hecha a tu medida. </p>
         </div>
     </div>
 </div>
