
<div class="second row">
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <img class="imagendos" src="https://images.pexels.com/photos/102061/pexels-photo-102061.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"> 
        
    </div>
    <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
        <br>
        <br>
        <h2 class="text-center">Sobre mí</h2>
        <br>
        <div class="text row">
        <br>
            <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
              <p>Soy Victoria: emprendedora, estudiante de artes visuales, creativa, joyera de oficio y actualmente me estoy dedicando a aprender desarrollo web. Puedo ayudarte a desplegar una página web que se acomode a tus gustos y necesidades focalizandome en el diseño visual y la estética para brindarte un sitio llamativo para tu proyecto o emprendimiento.
  
               Me considero una estudiante de por vida ya que las cosas que no sé, las aprendo.
               </p>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
              <p>Mi objetivo es que quedes contentx con una web que refleje la personalidad del proyecto que estés llevando a cabo y que la gente que entre quiera quedarse.</p>
            </div>
        </div>
   </div>
  </div>
  <br>
  <br>
  <br>
